.framework-app {
    &-header {
        align-items: center;
        display: flex;
        gap: .5rem;
        justify-content: space-between;

        &--sticky {
            left: 0;
            position: sticky;
            top: 0;
        }

        &__item {
            min-width: 0;

            &--left,
            &--right {
                flex: 0 0 5rem;
            }

            &--middle {
                flex: 1 1 auto;
            }
        }
    }
}